.placeholder-svg {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 1px solid $placeholder-color-foreground;
  background-color: $placeholder-color-background;
  fill: $placeholder-color-foreground;
}

.placeholder-svg--small {
  width: 480px;
}

.placeholder-noblocks {
  padding: 40px;
  text-align: center;
}

// Mimic a background image by wrapping the placeholder svg with this class
.placeholder-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .icon {
    border: 0;
  }
}
