.featured-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: $grid-max-width;
  margin: auto;
}

.featured-collection__title {
  text-align: center;
  flex-basis: 100%;
}
